*{
  margin: 0;
  padding: 0;
}
/* nav start here */
nav {
  display: flex;
  justify-content: space-between;
  background-color: #1a1244;
  padding: 0px 200px;
  border-bottom: 4px solid #401e63;
  position: sticky;
  top: 0;
}
nav ul {
  display: flex;
}
nav ul li {
  list-style-type: none;
  margin: 10px 5px;
}
nav ul li a {
  text-decoration: none;
  color: white;
  font-weight: bold;
  font-size: 20px;
  padding: 10px 20px;
  transition: 0.5s;
}
nav ul li a:hover {
  background-color: #080808;
  color: red;
  border-radius: 5px;
}
nav div {
  color: white;
  font-size: 20px;
}
/* nav end here */


#about-section{
display: flex;
align-items: center;
width: 900px;
border: 2px solid red;
margin: auto;
margin-top: 70px;
padding: 50px;
box-shadow: 10px 10px 10px 10px gray;
border-radius: 5px;
justify-content: space-between;
}

.about-img-div{
  width: 500px;
}
.about-img-div img{
  width: 100%;
}
.about-text-div h2{
  font-size: 80px;
  color: #07128d;
  margin-bottom: 20px;
  margin-top: 100px;
}
.about-text-div a{
  text-decoration: none;
  background-color: #07128d;
  color: white;
  padding: 10px 25px;
  display: inline-block;
  margin-top: 50px;
  border-radius: 5px;
}
.about-text-div p{
  color: #07128d;
  font-weight: bold;
}